@font-face {
    font-family: 'Korolev-Compressed-Bold';
    src: url('fonts/Korolev-Compressed-Bold.woff') format('woff'),
         url('fonts/Korolev-Compressed-Bold.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #0e1617;
    color: #dedede;
    padding-bottom: 60px;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

th { background-color: #0e1617; }

/* Hide number input stepper Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input stepper Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

div.dataTables_wrapper {
    width: 98%;
    margin: 0 auto;
}

h1,
h2,
h3,
a.main-logo span {
    font-family: "Korolev-Compressed-Bold";
}

.dataTables_empty {
    font-size: 150%;
    padding: 30px !important;
}

div.content-heading {
    padding: 15px 15px 5px 15px;
    background-color: #2d3e41;
    text-align: center;
}

    div.content-heading p {
        color: #a7a7a7;
    }

    div.content-heading h1::before {
        content: " - ";
        color: #ddfc60;
    }
    
    div.content-heading h1::after {
        content: " - ";
        color: #ddfc60;
    }

a.text_link,
a.text_link_bright {
    text-decoration: underline;
}

a.text_link,
a.text_link:link,
a.text_link:active,
a.text_link:visited {
    color: #dedede;
}

a.text_link_bright,
a.text_link_bright:link,
a.text_link_bright:active,
a.text_link_bright:visited {
    color: #ddfc60;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input,
input[type=submit],
label[for=mint] {
    font-family: "Korolev-Compressed-Bold";
    font-size: 150%;
    padding: 10px;
}

input {
    background-color: #0e1617;
    color: #dedede;
    border: 3px solid #2c3236;
}

input[type=submit] {
    background-color: #1b2023;
    color: #7c8e41;
    border: 3px solid #7c8e41;
}

.fixed-width-font {
    font-family: monospace;
}

.mobile-only { display: none; }

th.dt-center, td.dt-center { text-align: center; }

footer {
    background-color: #1b2023;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

    tr#header-row {
        height: 60px;
        background-color: #1b2023;
        border-bottom: 1px solid #dedede;
        vertical-align: middle;
    }
    
        tr#header-row td {
            text-align: center;
        }
        
#mint-lookup-form,
.faux-responsive-table {
    width: 100%;
}

    .faux-responsive-table td {
        text-align: center;
        vertical-align: top;
    }
    
    .col-3 td {
        width: 33.33%;
    }
    
    .col-4 td {
        width: 25%;
    }
    
    .col-5 td {
        width: 20%;
    }
    
    .col-10 td {
        width: 10%;
    }

a.main-logo {
    text-decoration: none;
}

a.main-logo span {
    font-size: 2rem;
    color: #ddfc60;
    text-decoration: none;
}

a.main-logo span span {
    color: #dedede;
    font-size: 75%;
}

h1.sportvatar {
    font-size: 400%;
}

h2.sportvatar {
    font-size: 300%;
}

h3.sportvatar {
    font-size: 200%;
}

#mint-lookup-form {
    padding: 10px;
    background-color: #2d3e41;
    margin-bottom: 15px;
}

    #mint-lookup-form td:nth-child(1) {
        width: 110px;
    }
    
    #mint-lookup-form td:nth-child(3) {
        width: 100px;
    }
    
    #mint-lookup-form input[type=number] {
        width: 98%;
    }
    
    #mint-lookup-form input[type=submit] {
        width: 80%;
        margin-left: -10px;
    }

/* faux responsive for tables */
@media screen and (max-width: 800px) {
    
    .mobile-only { display: block; }
    
    .desktop-only { display: none; }

    .faux-responsive-table td { 
        display: block;
        text-align: center;
        vertical-align: top;
    }
    
    .col-3 td,
    .col-4 td,
    .col-5 td,
    .col-10 td {
        width: 100%;
    }
    
    .no-collapse tr td {
        display: table-cell;
    }
    
    .no-collapse td:nth-child(2){
        text-align: right !important;
    }
    
    div.content-heading h1::before,
    div.content-heading h1::after {
        content: "";
    }
    
    .dataTables_empty { text-align: left !important; }
}